-- MySQL dump 10.13  Distrib 9.6.0, for Win64 (x86_64)
--
-- Host: localhost    Database: mon_projet
-- ------------------------------------------------------
-- Server version	9.6.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '4b8cb041-1ee1-11f1-8ccd-00090faa0001:1-428';

--
-- Table structure for table `articles_attente`
--

DROP TABLE IF EXISTS `articles_attente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articles_attente` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_ajout` varchar(255) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `marque` varchar(255) DEFAULT NULL,
  `nom_fournisseur` varchar(255) DEFAULT NULL,
  `quantite` int DEFAULT NULL,
  `ref_fournisseur` varchar(255) DEFAULT NULL,
  `refmcl` varchar(255) DEFAULT NULL,
  `utilisateur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articles_attente`
--

LOCK TABLES `articles_attente` WRITE;
/*!40000 ALTER TABLE `articles_attente` DISABLE KEYS */;
INSERT INTO `articles_attente` VALUES (1,'04/05/2026','x','teste','x',5,'b31','x',12),(2,'04/05/2026','2','2','2',110,'2','2',11);
/*!40000 ALTER TABLE `articles_attente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commandes`
--

DROP TABLE IF EXISTS `commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commandes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_creation` datetime(6) DEFAULT NULL,
  `description` text,
  `fournisseur` varchar(255) DEFAULT NULL,
  `montant` double DEFAULT NULL,
  `numero` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `utilisateur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK394iuksyq22ka7rwo7pynmwam` (`utilisateur_id`),
  CONSTRAINT `FK394iuksyq22ka7rwo7pynmwam` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commandes`
--

LOCK TABLES `commandes` WRITE;
/*!40000 ALTER TABLE `commandes` DISABLE KEYS */;
INSERT INTO `commandes` VALUES (1,'2026-04-29 12:30:21.079888','camera','amazone',NULL,'CMD-0001','En attente',NULL);
/*!40000 ALTER TABLE `commandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conges`
--

DROP TABLE IF EXISTS `conges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conges` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_debut` date DEFAULT NULL,
  `date_fin` date DEFAULT NULL,
  `motif` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `utilisateur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKm4lj8mg16xddk6jlbn1y227jb` (`utilisateur_id`),
  CONSTRAINT `FKm4lj8mg16xddk6jlbn1y227jb` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conges`
--

LOCK TABLES `conges` WRITE;
/*!40000 ALTER TABLE `conges` DISABLE KEYS */;
/*!40000 ALTER TABLE `conges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `demandes_approvisionnement`
--

DROP TABLE IF EXISTS `demandes_approvisionnement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `demandes_approvisionnement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code_affaire` varchar(255) DEFAULT NULL,
  `commande_client_recue` varchar(255) DEFAULT NULL,
  `commentaires` varchar(255) DEFAULT NULL,
  `date_attendue` varchar(255) DEFAULT NULL,
  `date_creation` varchar(255) DEFAULT NULL,
  `date_soumission` datetime(6) DEFAULT NULL,
  `date_traitement` varchar(255) DEFAULT NULL,
  `demandeur` varchar(255) DEFAULT NULL,
  `demandeur_id` bigint DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `devis_file_json` varchar(255) DEFAULT NULL,
  `lignes_json` longtext,
  `montant_total` varchar(255) DEFAULT NULL,
  `nom_projet` varchar(255) DEFAULT NULL,
  `numero` varchar(255) DEFAULT NULL,
  `quotations_obtenues` varchar(255) DEFAULT NULL,
  `responsable_projet` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `traite_par` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `demandes_approvisionnement`
--

LOCK TABLES `demandes_approvisionnement` WRITE;
/*!40000 ALTER TABLE `demandes_approvisionnement` DISABLE KEYS */;
INSERT INTO `demandes_approvisionnement` VALUES (1,'1','En cours','0','2026-12-10','04/05/2026','2026-05-04 14:03:28.006957','2026-05-04','Test Odile',11,'MCL Solutions',NULL,'[{\"marque\":\"a\",\"designation\":\"a\",\"refFournisseur\":\"a\",\"nomFournisseur\":\"a\",\"refMCL\":\"a\",\"quantite\":1}]','61120','1','PR-20260001','Non','1','Trait├®','Aby Supply');
/*!40000 ALTER TABLE `demandes_approvisionnement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `factures`
--

DROP TABLE IF EXISTS `factures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `factures` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `client` varchar(255) DEFAULT NULL,
  `date_creation` datetime(6) DEFAULT NULL,
  `date_facture` date DEFAULT NULL,
  `montantht` double DEFAULT NULL,
  `numero` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `tva` double DEFAULT NULL,
  `utilisateur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKuja9u4ndvwo8gga99s9rawsm` (`utilisateur_id`),
  CONSTRAINT `FKuja9u4ndvwo8gga99s9rawsm` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `factures`
--

LOCK TABLES `factures` WRITE;
/*!40000 ALTER TABLE `factures` DISABLE KEYS */;
/*!40000 ALTER TABLE `factures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fiches_intervention`
--

DROP TABLE IF EXISTS `fiches_intervention`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fiches_intervention` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `adresse` varchar(255) DEFAULT NULL,
  `client` varchar(255) DEFAULT NULL,
  `contact` varchar(255) DEFAULT NULL,
  `date_creation` datetime(6) DEFAULT NULL,
  `date_intervention` date DEFAULT NULL,
  `description` text,
  `heure_debut` varchar(255) DEFAULT NULL,
  `heure_fin` varchar(255) DEFAULT NULL,
  `num_projet` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `manager_id` bigint DEFAULT NULL,
  `technicien_id` bigint DEFAULT NULL,
  `date_completion` varchar(255) DEFAULT NULL,
  `intervenants` varchar(255) DEFAULT NULL,
  `nom_client_signe` varchar(255) DEFAULT NULL,
  `signature_client` longtext,
  `signature_technicien` longtext,
  `approuve_par` varchar(255) DEFAULT NULL,
  `date_approbation` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhvcoajtwge4r84otl4tgm24yc` (`manager_id`),
  KEY `FKkobwwdobtx2kfrtwnohc4nbgb` (`technicien_id`),
  CONSTRAINT `FKhvcoajtwge4r84otl4tgm24yc` FOREIGN KEY (`manager_id`) REFERENCES `utilisateurs` (`id`),
  CONSTRAINT `FKkobwwdobtx2kfrtwnohc4nbgb` FOREIGN KEY (`technicien_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fiches_intervention`
--

LOCK TABLES `fiches_intervention` WRITE;
/*!40000 ALTER TABLE `fiches_intervention` DISABLE KEYS */;
/*!40000 ALTER TABLE `fiches_intervention` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `minutes_securite`
--

DROP TABLE IF EXISTS `minutes_securite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `minutes_securite` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `competences_habilitations` bit(1) DEFAULT NULL,
  `date_creation` datetime(6) DEFAULT NULL,
  `environnement_securise` bit(1) DEFAULT NULL,
  `mesure_prevention_immediate` text,
  `mode_operatoire` bit(1) DEFAULT NULL,
  `nom_signataire` varchar(255) DEFAULT NULL,
  `outils_equipements` bit(1) DEFAULT NULL,
  `risques_specifiques` text,
  `sait_quoi_faire_urgence` bit(1) DEFAULT NULL,
  `signature` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `tacheaeffectuer` varchar(255) DEFAULT NULL,
  `technicien_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4u9dg7pa2tm5nd2bkjft9hx1k` (`technicien_id`),
  CONSTRAINT `FK4u9dg7pa2tm5nd2bkjft9hx1k` FOREIGN KEY (`technicien_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `minutes_securite`
--

LOCK TABLES `minutes_securite` WRITE;
/*!40000 ALTER TABLE `minutes_securite` DISABLE KEYS */;
/*!40000 ALTER TABLE `minutes_securite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mises_au_travail`
--

DROP TABLE IF EXISTS `mises_au_travail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mises_au_travail` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chantier_zone` varchar(255) DEFAULT NULL,
  `co_activite_identifiee` bit(1) DEFAULT NULL,
  `co_activite_precision` varchar(255) DEFAULT NULL,
  `date` varchar(255) DEFAULT NULL,
  `date_creation` datetime(6) DEFAULT NULL,
  `description_activite` text,
  `entreprises_intervenantes` varchar(255) DEFAULT NULL,
  `epi_specifiques` bit(1) DEFAULT NULL,
  `evacuation` bit(1) DEFAULT NULL,
  `heure` varchar(255) DEFAULT NULL,
  `modes_operatoires_valides` bit(1) DEFAULT NULL,
  `moyens_alerte` bit(1) DEFAULT NULL,
  `nomsst` varchar(255) DEFAULT NULL,
  `numero` varchar(255) DEFAULT NULL,
  `permis_specifiques` bit(1) DEFAULT NULL,
  `permis_specifiques_precision` varchar(255) DEFAULT NULL,
  `protections_collectives` bit(1) DEFAULT NULL,
  `responsable_intervention` varchar(255) DEFAULT NULL,
  `risques_environnement` bit(1) DEFAULT NULL,
  `risques_tache` bit(1) DEFAULT NULL,
  `secours` bit(1) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `cree_par_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKc3my07ar9232kic3fej6ouda0` (`cree_par_id`),
  CONSTRAINT `FKc3my07ar9232kic3fej6ouda0` FOREIGN KEY (`cree_par_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mises_au_travail`
--

LOCK TABLES `mises_au_travail` WRITE;
/*!40000 ALTER TABLE `mises_au_travail` DISABLE KEYS */;
/*!40000 ALTER TABLE `mises_au_travail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planning_notes`
--

DROP TABLE IF EXISTS `planning_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `planning_notes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date DEFAULT NULL,
  `note` text,
  `utilisateur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7nbchshianlc4disg9p3dobne` (`utilisateur_id`),
  CONSTRAINT `FK7nbchshianlc4disg9p3dobne` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planning_notes`
--

LOCK TABLES `planning_notes` WRITE;
/*!40000 ALTER TABLE `planning_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `planning_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reclamations_sse`
--

DROP TABLE IF EXISTS `reclamations_sse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reclamations_sse` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_corrective` text,
  `analyse_causes` text,
  `date` varchar(255) DEFAULT NULL,
  `date_creation` datetime(6) DEFAULT NULL,
  `description_faits` text,
  `echeance` varchar(255) DEFAULT NULL,
  `entreprise_concernee` varchar(255) DEFAULT NULL,
  `gravite` varchar(255) DEFAULT NULL,
  `heure` varchar(255) DEFAULT NULL,
  `information_declarant` bit(1) DEFAULT NULL,
  `lieu` varchar(255) DEFAULT NULL,
  `mesure_immediate` text,
  `numero` varchar(255) DEFAULT NULL,
  `responsable_action` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `type_presqu_accident` bit(1) DEFAULT NULL,
  `type_situation_dangereuse` bit(1) DEFAULT NULL,
  `type_suggestion` bit(1) DEFAULT NULL,
  `technicien_id` bigint DEFAULT NULL,
  `photos_json` longtext,
  PRIMARY KEY (`id`),
  KEY `FK7e1tj5q7cfn3r1534cb3m8c6b` (`technicien_id`),
  CONSTRAINT `FK7e1tj5q7cfn3r1534cb3m8c6b` FOREIGN KEY (`technicien_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reclamations_sse`
--

LOCK TABLES `reclamations_sse` WRITE;
/*!40000 ALTER TABLE `reclamations_sse` DISABLE KEYS */;
/*!40000 ALTER TABLE `reclamations_sse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reset_password_requests`
--

DROP TABLE IF EXISTS `reset_password_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reset_password_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `datedemande` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reset_password_requests`
--

LOCK TABLES `reset_password_requests` WRITE;
/*!40000 ALTER TABLE `reset_password_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `reset_password_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock`
--

DROP TABLE IF EXISTS `stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `categorie` varchar(255) DEFAULT NULL,
  `date_creation` datetime(6) DEFAULT NULL,
  `date_maj` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `fournisseur` varchar(255) DEFAULT NULL,
  `nom` varchar(255) DEFAULT NULL,
  `prix_unitaire` double DEFAULT NULL,
  `quantite` int DEFAULT NULL,
  `reference` varchar(255) DEFAULT NULL,
  `utilisateur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2pddt25nlde8twlqvhiw4mhup` (`utilisateur_id`),
  CONSTRAINT `FK2pddt25nlde8twlqvhiw4mhup` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock`
--

LOCK TABLES `stock` WRITE;
/*!40000 ALTER TABLE `stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taches`
--

DROP TABLE IF EXISTS `taches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `taches` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date_creation` datetime(6) DEFAULT NULL,
  `date_echeance` date DEFAULT NULL,
  `description` text,
  `priorite` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `titre` varchar(255) DEFAULT NULL,
  `utilisateur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKr6bwr1pa82wf1c4c800txf4py` (`utilisateur_id`),
  CONSTRAINT `FKr6bwr1pa82wf1c4c800txf4py` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taches`
--

LOCK TABLES `taches` WRITE;
/*!40000 ALTER TABLE `taches` DISABLE KEYS */;
INSERT INTO `taches` VALUES (1,'2026-04-08 09:29:50.382415','2026-04-27','659p','Moyenne','TERMINEE','teste1',NULL),(2,'2026-04-20 19:02:32.438162','2026-02-12','cmd-010','Faible','EN_COURS','cecile',NULL),(3,'2026-04-21 12:38:29.605879','2026-04-09','cm-99','Faible','A_FAIRE','teste',NULL),(4,'2026-04-29 07:45:31.844232','2026-05-20','Cmd-65','├ëlev├®','A_FAIRE','Fnac',NULL);
/*!40000 ALTER TABLE `taches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `criticite` varchar(255) DEFAULT NULL,
  `date_creation` datetime(6) DEFAULT NULL,
  `date_validation` datetime(6) DEFAULT NULL,
  `description_panne` text,
  `echeance` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `etage` varchar(255) DEFAULT NULL,
  `informations_additionnelles` text,
  `lieu_site` varchar(255) DEFAULT NULL,
  `marque` varchar(255) DEFAULT NULL,
  `nom` varchar(255) DEFAULT NULL,
  `nom_salle` varchar(255) DEFAULT NULL,
  `numero` varchar(255) DEFAULT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `priorite` varchar(255) DEFAULT NULL,
  `reference` varchar(255) DEFAULT NULL,
  `site` varchar(255) DEFAULT NULL,
  `sous_garantie` bit(1) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `type_materiel` varchar(255) DEFAULT NULL,
  `validee_par` varchar(255) DEFAULT NULL,
  `assigne_id` bigint DEFAULT NULL,
  `demandeur_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK33rni60eg1efbunifvfvugty1` (`assigne_id`),
  KEY `FK636hlx4x0r98fh317cr671nef` (`demandeur_id`),
  CONSTRAINT `FK33rni60eg1efbunifvfvugty1` FOREIGN KEY (`assigne_id`) REFERENCES `utilisateurs` (`id`),
  CONSTRAINT `FK636hlx4x0r98fh317cr671nef` FOREIGN KEY (`demandeur_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `date_embauche` date DEFAULT NULL,
  `departement` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `poste` varchar(255) DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  `telephone` varchar(255) DEFAULT NULL,
  `premier_connexion` bit(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voitures`
--

DROP TABLE IF EXISTS `voitures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voitures` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `annee` varchar(255) DEFAULT NULL,
  `assurance` varchar(255) DEFAULT NULL,
  `carburant` varchar(255) DEFAULT NULL,
  `conducteur` varchar(255) DEFAULT NULL,
  `date_expiration_assurance` date DEFAULT NULL,
  `immatriculation` varchar(255) DEFAULT NULL,
  `kilometrage` varchar(255) DEFAULT NULL,
  `marque` varchar(255) DEFAULT NULL,
  `modele` varchar(255) DEFAULT NULL,
  `prochain_controle` date DEFAULT NULL,
  `statut` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voitures`
--

LOCK TABLES `voitures` WRITE;
/*!40000 ALTER TABLE `voitures` DISABLE KEYS */;
INSERT INTO `voitures` VALUES (1,'2020','AXA','Electrique','FERID','2026-02-13','A','3000','EXEMPLE','EX','2023-02-06','Disponible');
/*!40000 ALTER TABLE `voitures` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-12  9:58:38
